@model MeFirst.Models.Treatments

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Treatments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Moisturizer" class="control-label"></label>
                <input asp-for="Moisturizer" class="form-control" />
                <span asp-validation-for="Moisturizer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Retinal" class="control-label"></label>
                <input asp-for="Retinal" class="form-control" />
                <span asp-validation-for="Retinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toner" class="control-label"></label>
                <input asp-for="Toner" class="form-control" />
                <span asp-validation-for="Toner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spf" class="control-label"></label>
                <input asp-for="Spf" class="form-control" />
                <span asp-validation-for="Spf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkinTypeId" class="control-label"></label>
                <input asp-for="SkinTypeId" class="form-control" type= "file" />
                <span asp-validation-for="SkinTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
