@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello,Hej,</h1>
    <h2>A place where you can put yourself first.</h2>
    <p>Shop the latest and most effective skin care products. Seek valuable insight on your personal skin problems from our vibrant skincare friends. </p>
   
    <img src="~/img/self-care.jpg" width='600' height='400' justify-content: center display: flex;  />

</div>
<div>
    <p>Photo by Polina Kovaleva from Pexels </p> 
</div>
