@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello,Hej,</h1>
    <h2>A place where you can put yourself first.</h2>
    <p>Me-first was designed to be an interactive platform where skin care fanatics can ask questions about their skin and recieve answers.</p>
    <p>You can also deterime what your skin type is using our SkinType tab. </p>
</div>
